@page
@model PrivacyModel
@{

    ViewData["Title"] = ($"The version of the currently executing assembly is: {GetType().Assembly.GetName().Version}");


}
<h1>@ViewData["Title"]</h1>
<h1> Initial Commit </h1>

<h1> Version 1.0.0.22 </h1>
<h1> Version 1.0.0.29 </h1>
<h1> change </h1>
<h1> change </h1>

<p>Use this page to detail your site's privacy policy.</p>
